if SHIELD_CORNE_DONGLE

config ZMK_KEYBOARD_NAME
    default "Corne Dongle"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

config BT_MAX_CONN
    default 7

config BT_MAX_PAIRED
    default 7

endif

if SHIELD_CORNE_LEFT || SHIELD_CORNE_RIGHT

config ZMK_DISPLAY
	default y

config ZMK_DISPLAY_WORK_QUEUE_DEDICATED
    default y

config ZMK_DISPLAY_STATUS_SCREEN_BUILT_IN
    default y

config ZMK_WIDGET_BATTERY_STATUS
    default y

config ZMK_WIDGET_BATTERY_STATUS_SHOW_PERCENTAGE
    default y

config ZMK_WIDGET_WPM_STATUS
    default y

config ZMK_IDLE_TIMEOUT
    default 1200000

config ZMK_SLEEP
    default y

config ZMK_IDLE_SLEEP_TIMEOUT
    default 6000000
	
endif